  /* ---------------------------- */
 /* ------ MOBILE VERSION ------ */
/* -----------------------------*/


#content__mobile {
    display: block;
}

#content__desktop {
    display: none;
}

/* ---- HEADER ---- */

#header__mobile {
    background-color: #F0F0F0;
    position: relative;
    min-height: 100vh;
}

#header__mobile::after {
    content: "";
    top: 70px;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #242423;
    position: absolute;
    box-shadow: 0px 5px 3px 0 rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.header__avatar {
    background-color: #F5CB5C;
    border-radius: 100%;
    border: 10px solid #242423;
    width: 200px;
    height: 200px;
    top: 20px;
    margin: auto;
    position: relative;
    box-shadow: 0px 5px 3px 0 rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.header__avatar::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 189px;
    height: 189px;
    background-image: url(../images/avatar.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
}

.header__title {
    font-family: 'Modak', cursive;
    font-size: 34px;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 50px;
    color: #F5CB5C;
    background-color: #242423;
    box-shadow: 0px 5px 3px 0 rgba(0, 0, 0, 0.25);
    padding: 15px 0 15px 0;
}

.header__text1 {
    font-family: 'MuseoModerno', cursive;
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
    color: #F5CB5C;
    background-color: #242423;
    box-shadow: 0px 5px 3px 0 rgba(0, 0, 0, 0.25);
    border-radius: 5px 0 0 5px;
    padding: 10px 0 10px 0;
    animation: blockAdventRight 1s ease-in-out;
}

.header__text2 {
    font-family: 'MuseoModerno', cursive;
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
    color: #F5CB5C;
    background-color: #242423;
    border-radius: 0 5px 5px 0;
    box-shadow: 0px 5px 3px 0 rgba(0, 0, 0, 0.25);
    padding: 10px 0px 10px 0px;
    animation: blockAdventLeft 1s ease-in-out;
}

.header__arrow-mark {
    width: 60px;
    margin-bottom: 20px !important;
    margin: auto;
    position: relative;
}

.header__arrow-mark svg {
    fill: #242423;
}

.header__arrow-mark svg:hover {
    fill: #242423cc;
}

/* .bi-chevron-double-down {
    filter: drop-shadow(0px 5px 3px 0 rgba(0, 0, 0, 0.25)) !important; 
} */

.header__arrow-mark::before {
    content: "";
    position: absolute;
    background-image: url(../images/encre_noir.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: -50px;
    left: 45px;
    width: 84px;
    height: 50px;
    transform: rotate(65deg);
}

.header__arrow-mark::after {
    content: "";
    position: absolute;
    background-image: url(../images/encre_jaune.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: -80px;
    left: 50px;
    width: 104px;
    height: 70px;
}


/* ---- SECTION 1 ---- */


#section1__mobile {
    background-color: #242423;
    min-height: 100vh;
}

.section1__title {
    font-family: 'Modak', cursive;
    font-size: 36px;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 60px;
    color: #F5CB5C;
    position: relative;
}

.section1__title::before {
    content: "";
    position: absolute;
    background-image: url(../images/encre_blanc.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: 10px;
    right: 25px;
    width: 84px;
    height: 50px;
    z-index: 1;
    transform: rotate(65deg);
}

.section1__text {
    color: #F0F0F0;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    margin: 10px 25px 10px 15px;
    position: relative;
}

.section1__text::before {
    content: "“";
    font-family: 'Modak', cursive;
    color: #F5CB5C;
    position: absolute;
    font-size: 46px;
    top: -30px;
    left: 0px;
}

.section1__text::after {
    content: "”";
    font-family: 'Modak', cursive;
    color: #F5CB5C;
    position: absolute;
    font-size: 46px;
    bottom: -20px;
    right: -21px;
}

.section1__arrow-mark {
    width: 60px;
    margin: auto;
    position: relative;
    margin-bottom: 20px !important;
}

.section1__arrow-mark::after {
    content: "";
    position: absolute;
    background-image: url(../images/encre_blanc.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 20px;
    left: -124px;
    width: 84px;
    height: 50px;
    z-index: 1;
    transform: rotate(355deg);
}

.section1__arrow-mark svg {
    fill: #F5CB5C;
}

.section1__arrow-mark svg:hover {
    fill: #f5cc5ccc;
}

/* ---- SECTION 2 ---- */

#section2__mobile {
    background-color: #F5CB5C;
    min-height: 100vh;
}

.section2__title {
    font-family: 'Modak', cursive;
    font-size: 36px;
    text-align: center;
    letter-spacing: 3px;
    color: #F0F0F0;
    background-color: #242423;
    box-shadow: 0px 5px 3px 0 rgba(0, 0, 0, 0.25);
    margin-top: 40px;
    padding: 10px;
}

.section2__text {
    font-family: 'MuseoModerno', cursive;
    font-size: 18px;
    text-align: center;
    color: #F0F0F0;
    background-color: #242423;
    border-radius: 5px 0 0 5px;
    box-shadow: 0px 5px 3px 0 rgba(0, 0, 0, 0.25);
    padding: 10px 20px 10px 20px;
    animation: 1s ease-in-out;
    margin-top: 20px;
    opacity: 0;
}

.section2__text.active {
    opacity: 1;
    animation-name: blockAdventRight;
}

.section2__cards1 {
    height: 230px;
    width: 230px;
    margin: auto;
    margin-top: 35px;
    background-image: url(../images/projet_formulaire.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px solid #F0F0F0;
    box-shadow: 0px 5px 3px 0 rgba(0, 0, 0, 0.25);
    border-bottom: 60px solid #F0F0F0;
    transform-origin: 50% 0;
    transform: rotate(0deg);
    position: relative;
    animation: 1.5s ease-in-out;
}

.cardsall.active {
    animation-name: moveCards;
}

.section2__cards1 figcaption {
    position: absolute;
    bottom: -50px;
    left: 15px;
    text-align: center;
    font-size: 14px;
    font-family: 'Permanent Marker', cursive;
}

.cards1 {
    position: relative;
}

.cards1-mark::before {
    content: "";
    position: absolute;
    background-image: url(../images/encre_noir.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: -15px;
    left: 23px;
    width: 84px;
    height: 50px;
    transform: rotate(275deg);
}


/* ---- SECTION 3 ---- */
#section3__mobile {
    background-color: #F5CB5C;
    min-height: 100vh;
}

.section3__cards2 {
    height: 230px;
    width: 230px;
    margin: auto;
    margin-top: 45px;
    background-image: url(../images/projet_biographie.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px solid #F0F0F0;
    box-shadow: 0px 5px 3px 0 rgba(0, 0, 0, 0.25);
    border-bottom: 60px solid #F0F0F0;
    transform-origin: 50% 0;
    transform: rotate(0deg);
    position: relative;
    animation: 1.5s ease-in-out;
    animation-delay: .2s;

}

.section3__cards2 figcaption {
    position: absolute;
    bottom: -50px;
    left: 43px;
    text-align: center;
    font-size: 14px;
    font-family: 'Permanent Marker', cursive;
}

.cards2 {
    position: relative;
}

.cards2-mark::before {
    content: "";
    position: absolute;
    background-image: url(../images/encre_noir.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: -15px;
    right: 23px;
    width: 84px;
    height: 50px;
}



.section3__cards3 {
    height: 230px;
    width: 230px;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 50px;
    background-image: url(../images/projet_native_instrument.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px solid #F0F0F0;
    box-shadow: 0px 5px 3px 0 rgba(0, 0, 0, 0.25);
    border-bottom: 60px solid #F0F0F0;
    transform-origin: 50% 0;
    transform: rotate(0deg);
    position: relative;
    animation: 1.5s ease-in-out;
    animation-delay: .3s;
}

.section3__cards3 figcaption {
    position: absolute;
    bottom: -50px;
    left: 30px;
    text-align: center;
    font-size: 14px;
    font-family: 'Permanent Marker', cursive;
}

.cards3 {
    position: relative;
}

.cards3-mark::before {
    content: "";
    position: absolute;
    background-image: url(../images/encre_noir.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: -15px;
    left: 23px;
    width: 84px;
    height: 50px;
    transform: rotate(275deg);
}

.pins__cards {
    position: relative;
}

.pins__cards::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url(../images/punaise.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 5px;
    left: 48%;
    transform-origin: 18% 90%;
    transform: rotate(290deg);
    z-index: 1;
}


/* ---- SECTION 4 ---- */


#section4__mobile {
    background-color: #F0F0F0;
    min-height: 100vh;
}

.section4__title {
    font-family: 'Modak', cursive;
    font-size: 34px;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 30px;
    color: #F5CB5C;
    background-color: #242423;
    box-shadow: 0px 5px 3px 0 rgba(0, 0, 0, 0.25);
    padding: 8px 0 8px 0;
}

.section4__text {
    display: flex;
    flex-direction: column;
}

.section4__text1 {
    font-family: 'MuseoModerno', cursive;
    font-size: 18px;
    text-align: left;
    color: #242423;
    padding: 5px 0 5px 0;
}

.section4__text2 {
    font-family: 'MuseoModerno', cursive;
    font-size: 18px;
    text-align: right;
    margin-bottom: 20px;
    color: #242423;
    padding: 5px 0 5px 0;
    position: relative;
}

.section4__text2::before {
    content: "";
    position: absolute;
    background-image: url(../images/encre_jaune.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: -90px;
    right: 30px;
    width: 100px;
    height: 70px;
    transform: rotate(275deg);
}

.section4__text2::after {
    content: "";
    position: absolute;
    background-image: url(../images/encre_noir.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: -95px;
    right: 30px;
    width: 66px;
    height: 40px;
    transform: rotate(20deg);
}

.section4__frontend {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 15px;
    text-align: left;
    margin-bottom: 20px;
    color: #F5CB5C;
    background-color: #242423;
    box-shadow: 0px 5px 3px 0 rgba(0, 0, 0, 0.25);
    border-radius:0 5px 5px 0;
    padding: 5px 0 5px 0;
    margin-top: -50px;
    animation: 1s ease-in-out;
   opacity: 0;
}

.section4__frontend.active {
    animation-name: blockAdventLeft;
    opacity: 1;
}

.section4__frontend p {
    margin-left: 20px !important;
    margin-bottom: 10px !important;
    margin: 0;
}

.section4__frontend ul {
    color: #F0F0F0;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.section4__backend {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 15px;
    text-align: left;
    color: #F5CB5C;
    background-color: #242423;
    box-shadow: 0px 5px 3px 0 rgba(0, 0, 0, 0.25);
    border-radius: 5px 0 0 5px;
    padding: 5px 0 5px 0;
    animation: 1s ease-in-out;
    opacity: 0;
}

.section4__backend.active {
    animation-name: blockAdventRight;
    opacity: 1;
}

.section4__backend p {
    margin-left: 20px !important;
    margin-bottom: 10px !important;
    margin: 0;
}

.section4__backend ul {
    color: #F0F0F0;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.section4__system {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #F5CB5C;
    background-color: #242423;
    box-shadow: 0px 5px 3px 0 rgba(0, 0, 0, 0.25);
    border-radius: 5px 5px 5px 5px;
    padding: 5px 0 5px 0;
    animation: 1s ease-in-out;
    opacity: 0;
}

.section4__system.active {
    animation-name: blockAdventBottom;
    opacity: 1;
}

.section4__system p {
    margin-bottom: 10px !important;
    margin: 0;
}

.section4__system ul {
    color: #F0F0F0;
    list-style: none;
    padding: 0;
    margin: 0;
}


/* ---- SECTION 5 ---- */


#section5__mobile {
    background-color: #F5CB5C;
    min-height: 100vh;
}

.section5__title {
    font-family: 'Modak', cursive;
    font-size: 36px;
    width: 100%;
    text-align: center;
    letter-spacing: 3px;
    color: #F0F0F0;
    background-color: #242423;
    box-shadow: 0px 5px 3px 0 rgba(0, 0, 0, 0.25);
    padding: 8px 0 8px 0;
    margin-top: 40px;
}

form {
    font-family: 'Montserrat Alternates', sans-serif;
}

.btn-primary {
    background-color: #242423 !important;
    border: #242423;
}


/* ---- FOOTER ---- */


#footer__mobile {
    background-color: #242423;
    min-height: 100vh;
}

.footer__title {
    font-family: 'Modak', cursive;
    font-size: 36px;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 30px;
    color: #F5CB5C;
}

#footer__mobile svg {
    fill: #F0F0F0;
    width: 40px;
    height: 40px;
    margin: 20px 0 20px 0;

}

#footer__mobile svg:hover {
    fill: #f0f0f0cc;
}

.footer__numero {
    color: #F0F0F0;
    letter-spacing: 3px;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Montserrat Alternates', sans-serif;
}

.footer__numero:hover {
    color: #F0F0F0cc;
}

.footer__info {
    color: #F5CB5C;
    letter-spacing: 2px;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
}


  /* ---------------------------- */
 /* ------ VERSION DESKOP ------ */
/* ---------------------------- */


@media (min-width: 768px) {
    #content__mobile {
        display: none;
    }

    #content__desktop {
        display: block;
    }
    
    
    /* ---- HEADER DESKTOP ---- */
    
    
    #header__desktop {        
        background-color: #F0F0F0;
        min-height: 100vh;
    }

    #header__desktop::after {
        content: "";
        top: 0px;
        left: 0;
        width: 100%;
        height: 195px;
        background-color: #242423;
        position: absolute;
        box-shadow: 0px 5px 3px 0 rgba(0, 0, 0, 0.25);
    }

    .header__avatar {
        width: 240px;
        height: 240px;
    }

    .header__avatar::after {
        width: 233px;
        height: 228px;
    }

    .header__title {
        background-color: transparent;
        box-shadow: none;
        padding: 0;
        margin-top: 56px;
        letter-spacing: 8px;
        font-size: 56px;
    }

    .header__title__desktop {
        position: absolute;
        z-index: 1;
        right: 0;
    }

    .header__text1 {
        font-size: 32px;
        padding: 20px;
        margin-top: 15px;
        border-radius: 5px;
    }

    .section1__text {
        color: #242423;
        letter-spacing: 2px;
        line-height: 180%;
        margin-left: 50px;
        margin-right: 50px;
        font-size: 20px;
    }

    .section1__text::after {
        display: none;
    }

    .section1__text::before {
        display: none;
    }

    .section1__mark1 {
        position: relative;
    }

    .section1__mark1::before {
        content: "";
        position: absolute;
        background-image: url(../images/encre_noir.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        top: -70px;
        left: -60px;
        width: 120px;
        height: 80px;
        transform: rotate(270deg);
        z-index: 1;
    }

    .section1__mark1::after {
        content: "“";
        font-family: 'Modak', cursive;
        color: #F5CB5C;
        position: absolute;
        font-size: 58px;
        top: -30px;
        left: -10px;
        z-index: 2;
    }

    .section1__mark2 {
        position: relative;
    }

    .section1__mark2::before {
        content: "";
        position: absolute;
        background-image: url(../images/encre_noir.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        bottom: -35px;
        right: -75px;
        width: 120px;
        height: 80px;
        transform: rotate(85deg);
        z-index: 1;
    }

    .section1__mark2::after {
        content: "”";
        font-family: 'Modak', cursive;
        color: #F5CB5C;
        position: absolute;
        font-size: 58px;
        bottom: -26px;
        right: -28px;
        z-index: 2;
    }


    /* ---- BREAKPAGE ---- */


    .breakpoint {
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
        height: 100px;
        background-color: #F0F0F0;
    }

    .clip-path1 {
        clip-path: polygon(0 0, 100% 88%, 100% 100%, 0% 100%);
        width: 100vw;
        height: 100px;
        background-color: #F5CB5C;
        position: absolute;
    }

    .clip-path2 {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 12%);
        width: 100vw;
        height: 100px;
        background-color: #F5CB5C;
        position: absolute;
    }


    /* ---- SECTION 1 DESKTOP ---- */


    .section1__desktop {
        min-height: 100vh;
        background-color: #F5CB5C;

    }

    .section2__title {
        font-size: 42px;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0px 5px 3px 0 rgba(0, 0, 0, 0.25);
    }

    .section2__text {
        font-size: 20px;
        padding: 15px;
        margin-top: 125px;
        opacity: 1;
        border-radius: 5px;
    }

    .cards1{
        margin-left: 30px;
    }

    .cards2 {
        margin-top: -100px;
    }

    .cards3 {
        margin-top: -170px;
        margin-left: -20px;
    }

    .section2__cards1 {
        height: 260px;
        width: 260px;
    }

    .section2__cards1 figcaption {
        font-size: 16px;
    }

    .cards1-mark::before {
        top: -30px;
        left: -8px;
        width: 110px;
        height: 73px;
    }

    .section3__cards2 {
        height: 260px;
        width: 260px;
    }

    .section3__cards2 figcaption {
        font-size: 16px;
    }

    .cards2-mark::before {
        top: -30px;
        right: 0px;
        width: 110px;
        height: 73px;
    }

    .section3__cards3 {
        height: 260px;
        width: 260px;
        transform: rotate(0deg);
    }

    .section3__cards3 figcaption {
        font-size: 16px;
    }

    .cards3-mark::before {
        top: 100px;
        left: 33%;
        width: 110px;
        height: 73px;
        transform: rotate(233deg);
        background-image: url(../images/encre_blanc.png);
    }

    .cards3-mark::after {
        content: "";
        top: 75px;
        left: 33%;
        width: 69px;
        height: 73px;
        transform: rotate(349deg);
        background-image: url(../images/encre_noir.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
    }

    
    /* ---- SECTION 2 DESKTOP ---- */


    #section2__desktop {
        background-color: #F0F0F0;
        min-height: 100vh;
    }

    .section4__title {
        font-size: 42px;
        padding: 15px;
        border-radius: 5px;
    }

    .section4__text1 {
        font-size: 24px;
        padding: 5px 0 5px 0;
        margin-left: 20%;
    }
    
    .section4__text2 {
        font-size: 24px;
        padding: 5px 0 5px 0;
        margin-right: 20%;
        position: relative;
    }
    
    .section4__text2::before {
        bottom: -80px;
        right: -120px;
        width: 110px;
        height: 73px;
        transform: rotate(17deg);
    }
    
    .section4__text2::after {
        bottom: -68px;
        right: -75px;
        width: 56px;
        height: 40px;
        transform: rotate(283deg);
    }

    .section4__frontend {
        transform: none;
        font-size: 20px;
        padding: 20px;
        opacity: 1;
        border-radius: 5px;
    }

    .section4__backend {
        transform: none;
        font-size: 20px;
        padding: 20px;
        margin-bottom: 70px;
        margin-top: -120px;
        opacity: 1;
        border-radius: 5px;
    }

    .section4__system {
        transform: none;
        font-size: 20px;
        padding: 20px;
        margin-top: -100px;
        margin-bottom: 50px;
        opacity: 1;
        border-radius: 5px;
    }


    /* ---- SECTION 3 DESKTOP ---- */


    #section3__desktop {
        background-color: #242423;
        min-height: 100vh;
    }

    .section5__title {
        color: #F5CB5C;
        box-shadow: none;
        font-size: 42px;
    }

    form {
        color: #F5CB5C;
        font-size: 20px;
    }

    .btn-primary {
        background-color: #F5CB5C !important;
        border: #F5CB5C;
        color: #242423;
        font-size: 20px;
        margin-top: 20px;
    }


    /* ---- FOOTER ---- */


    #footer__desktop {
        background-color: #242423;
        min-height: max-content;
    }

    #footer__desktop svg {
        fill: #F0F0F0;
        width: 70px;
        height: 70px;
        margin: 0px 30px 0 30px;
    }

    #footer__desktop svg:hover {
        fill: #f5cc5caa;
    }

    .bi-linkedin {
        margin: 0;
    }

    .footer__numero:hover {
        color: #F5CB5Caa;
    }
}